@keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.fade-out {
  animation: slideOutLeft 0.5s ease forwards;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.left-panel, .right-panel {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-panel {
  background-color: #000;
  color: white;
  text-align: center;
}


img {
    width: 60%;
}

.tittle {
  margin-top: 70px;
  font-size: 60px;
  font-weight: bold;
}

.text {
  margin-top: 30px;
  font-size: 40px;
  font-weight: bold;
}

.right-panel {
  background-color: #f3f4f6;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 400px;
}

h2 {
  margin-bottom: 30px;
  font-size: 35px;
}

input {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 20px;
}

button {
  padding: 12px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 20px;
}

a {
  margin-top: 35px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

/* cargando */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.spinner {
  border: 6px solid #ccc;
  border-top: 6px solid #000;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}